<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buqi.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /><!-- 访问网络连接 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /><!-- 在SD卡上创建 删除文件权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name="com.buqi.app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"


        tools:replace="android:icon">
        <!-- 设置key -->
        <meta-data
            android:name="房智_装修"
            android:value="9ecad00ea95543d902c3820868a03d03" />
        <meta-data
            android:name="com.buqi.app.config.GlideConfiguration"
            android:value="GlideModule" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.buqi.app.LoadingActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buqi.app.main.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseThemeMain" />
        <activity
            android:name="com.buqi.app.main.room.RoomActivity"
            android:screenOrientation="landscape"
            android:process=":room"
            android:theme="@style/AppBaseThemeMain" />
        <activity
            android:name="com.buqi.app.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseThemeMain"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.city.CityActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.house.HouseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.house.house_type.HouseTypeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.house.type_detail.HouseTypeDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.house.scene.SceneActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.list.ListOrderActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.welcome.CustomActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.login.ProtocolActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.buqi.app.main.room.ZoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.buqi.app.main.decoration.SellPartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.buqi.app.main.decoration.product.ProductActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.parent.ParentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.buqi.app.main.room.search.ProductSearchActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.buqi.app.main.house.window_type.WindowTypeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.ddd.ThreeDimensionalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.ddd.DDDWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name="com.buqi.app.main.ddd.DDView"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity android:name="com.buqi.app.main.decoration.product.PictureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.buqi.app.main.scenestyle.SceneStyleActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity android:name="com.buqi.app.main.sample.SampleActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity android:name="com.buqi.app.main.ddd.DDView2"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <meta-data
            android:name="design_width"
            android:value="2560" />
        <meta-data
            android:name="design_height"
            android:value="1600" />
    </application>

</manifest>